@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section1size {
  margin-top: 150px;
  margin-left: 125px;
  width: 535px;
}

.section2size {
  margin-top: 110px;
  margin-left: 125px;
  width: 535px;
}

.section3size {
  margin-top: 65px;
  margin-left: 125px;
  width: 535px;
}

.breakline {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 40px;
  width: 60%;
  display: flex;
  border: 2px solid #e2e8f0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.wavybot1 svg {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  fill: rgb(224 242 254);
}

.wavybot2 svg {
  position: relative;
  top: 0;
  left: 0;
  fill: white;
  border: none;
  background-color: rgb(130, 130, 130);
}


.practice-section {
  background-color: rgb(130, 130, 130);
  height: 65vh;
}

