@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.registerbody {
  background: linear-gradient(-45deg, #003e85, #e6feff, #71eeff, #00328f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginform {
  height: 700px;
}

.dashform {
  display: flex;
  justify-content: center;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 750px;
  padding: 25px;
}

.mytabs input[type='radio'] {
  display: none;
}

.grid-forms {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 50px;
}

.tab-label-1 {
  cursor: pointer;
  background-color: white;
  z-index: 1;
  font-size: 1.3rem;
  padding: 20px 50px;
  border-bottom: none;
  border-top-left-radius: 20px;
}

.tab-label-2 {
  cursor: pointer;
  background-color: white;
  font-size: 1.3rem;
  z-index: 1;
  padding: 20px 50px;
  border-bottom: none;
  border-left: 1px solid rgba(146, 146, 146, 0.247);
  border-top-right-radius: 20px;
}

.practice-section {
  background-color: rgb(130, 130, 130);
}

.mytabs .tab {
  order: 1;
  display: none;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.formsize {
  border-radius: 25px;
  width: 750px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loginsize {
  margin-top: 100px;
  border-radius: 25px;
  width: 750px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dashsize {
  background-color: white;
  border-radius: 25px;
  width: 950px;
  -webkit-box-shadow: 0 0 10px #00000091;
  box-shadow: 0 0 10px #00000091;
}

.section1size {
  margin-top: 150px;
  margin-left: 125px;
  width: 535px;
}



.section2size {
  margin-top: 110px;
  margin-left: 125px;
  width: 535px;
}

.section3size {
  margin-top: 65px;
  margin-left: 125px;
  width: 535px;
}

.breakline {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 40px;
  width: 60%;
  display: flex;
  border: 2px solid #e2e8f0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.wavybot1 svg {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  fill: rgb(224 242 254);
}

.wavybot2 svg {
  position: relative;
  top: 0;
  left: 0;
  fill: white;
  border: none;
  background-color: rgb(130, 130, 130);
}

.textbox {
  text-align: center;
  height: auto;
  width: 75%;
}

.formdimension {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 15px auto 0;
}

/* responsiveness css */

/* section 1 img */
@media (max-width: 1300px) {
  #image1 {
      display: none;
      transition: all 3s ease-in-out;
  }
}

/* about section */
@media (max-width: 1200px) {
  #about {
      text-align: center;
      padding-right: 10%;
  }
}

/* Students Section */
@media (max-width: 1300px) {
  #image2 {
      display: none;
      transition: all 3s ease-in-out;
  }
}

@media (max-width: 1200px) {
  #students {
      text-align: center;
      padding-right: 10%;
  }
}

#students span {
  min-width: fit-content;

}

#spanHolder {
  min-width: 400px;
}

/* Employers Section */
@media (max-width: 1300px) {
  #image3 {
      display: none;
      transition: all 3s ease-in-out;
  }
}

@media (max-width: 1200px) {
  #employers {
      text-align: center;
      padding-right: 10%;
  }
}

/* Register Page */
#registerBox {
  max-width: 400px;
}

/* login page */
#loginBox {
  max-width: 400px;
}